<div class="HeroSkillsCardV1">
	<div class="label col-header skill-list-header">
		<span>Grit Skills</span>
		<span class="small">Rank</span>
	</div>
	<ol class="skill-list grit-skills">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ol>
</div>