<div class="HeroSkillsCardV1">
	<div class="label col-header skill-list-header gait-skills-header">
		<span>Grit Skills</span>
		<span class="small">Rank</span>
	</div>
	<ol class="skill-list even grit-skills">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ol>

	<div class="label col-header skill-list-header gait-skills-header">
		<span>Gait Skills</span>
		<span class="small">Rank</span>
	</div>
	<ol class="skill-list even gait-skills">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ol>

	<div class="label col-header skill-list-header grip-skills-header">
		<span>Grip Skills</span>
		<span class="small">Rank</span>
	</div>
	<ol class="skill-list odd grip-skills">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ol>

	<div class="label col-header skill-list-header glim-skills-header">
		<span>Glim Skills</span>
		<span class="small">Rank</span>
	</div>
	<ol class="skill-list odd glim-skills">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ol>
</div>