<div class="HeroSummaryCardV1">
	{{!-- * Header --}}
	<div class="header">
		<div class="image">Logo Image</div>
		<label class="row-alt" for="{{meta.idp}}-name">
			Hero
		</label>
		<div>
			Player
		</div>
	</div>
	<input
		id="{{meta.idp}}-name"
		type="text"
		class="hero_name row-alt"
		value="{{actor.name}}"
		name="name"
	>

	{{!-- * Armour --}}
	<div class="armour"></div>

	{{!-- * Fate & Advancement --}}

	{{!-- * Weapons --}}

	{{!-- * Skills --}}

	{{!-- * Equipment --}}
</div>
