.ripcrypt .HeroSummaryCardV1 {

	/* Foundry Variable Tweaks */
	--input-height: 1rem;

	display: grid;
	grid-template-columns: minmax(0, 3fr) minmax(0, 2fr) minmax(0, 2fr) minmax(0, 1.25fr) minmax(0, 2.5fr);
	grid-template-rows: repeat(15, minmax(0, 1fr));
	column-gap: var(--col-gap);

	background: white;
	color: black;

	.col-header {
		background: black;
		color: white;
	}
	.row-alt {
		background: rgba(0,0,0, 0.3);
	}

	label, .label {
		box-sizing: border-box;
		padding: 2px 4px;
		text-transform: uppercase;
		font-size: var(--font-size-14);
		overflow: hidden;
		text-overflow: ellipsis;
		font-weight: bold;
	}

	.header {
		grid-row: span 2;
		grid-column: span 1;
		display: grid;
		grid-template-rows: subgrid;
		grid-template-columns: minmax(0, 2fr) minmax(0, 1fr);

		.image {
			grid-row: span 2;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}

	.hero_name {
		grid-column: span 3;
		margin-left: calc(var(--col-gap) * -1);
		padding-left: var(--col-gap);
	}

	.fate {
		grid-column: 1 / span 1;
		grid-row: 4 / span 2;
		display: grid;
		grid-template-rows: subgrid;
	}

	.weapons {
		grid-column: 1 / span 4;
		grid-row: 7 / span 5;
		display: grid;
		grid-template-columns: subgrid;
		grid-auto-rows: min-content;
		overflow-y: auto;

		thead,
		tbody,
		tr {
			display: contents;
		}
		.row-alt > * {
			background: inherit;
		}
	}

	.abilities {
		grid-column: 1 / span 4;
		grid-row: 12 / span 4;
		display: grid;
		/* grid-template-rows: minmax(0, 3fr) minmax(0, 1fr); */
		grid-template-columns: repeat(6, minmax(0, 1fr));

	}

	.ability {
		display: grid;
		grid-template-rows: minmax(0, 3fr) minmax(0, 1fr);
		justify-items: center;
		align-items: center;
		label, .label {
			width: 100%;
			text-align: center;
		}
	}

	.compass {
		--size: 45px;
		width: var(--size);
		height: var(--size);
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		border: 2px solid black;
		border-radius: 50%;
		font-size: 1.5rem;

		> .value {
			background: none;
			width: 70%;
			text-align: center;
		}

		&.dual {
			position: relative;
			font-size: var(--font-size-14);
			--distance-from-edge: 4px;

			&::after {
				display: block;
				content: "";
				width: 69%;
				height: 2px;
				background: black;
				transform: rotate(-45deg);
			}

			> .value,
			> .max {
				width: 50%;
				position: absolute;
				text-align: center;
				/* border-bottom: none; */
			}

			> .value {
				top: var(--distance-from-edge);
				left: var(--distance-from-edge);
				clip-path: polygon(100% 0, 100% 60%, 60% 100%, 0 100%, 0 0);
			}
			> .max {
				bottom: var(--distance-from-edge);
				right: var(--distance-from-edge);
			}
		}
	}
}
