<div id="the-hourglass">
	<div class="hourglass-container">
		<rc-svg
			class="hourglass"
			name="icons/hourglass"
			var:fill="var(--accent-2)"
		></rc-svg>
	</div>
	<div class="hud-text">
		The Hourglass
	</div>
</div>
