<div id="the-hourglass">
	<div
		class="icon-container"
		data-tooltip="Current Delve Tour: 8"
	>
		<span>
			8
		</span>
		<rc-svg
			class="hourglass"
			name="icons/hourglass"
			var:fill="var(--accent-2)"
		></rc-svg>
	</div>
</div>
