<div>
	{{!-- This is here to prevent height collapsing --}}
	&ZeroWidthSpace;

	{{#if meta.editable}}
		<button
			type="button"
			class="icon"
			data-action="tourDelta"
			data-delta="1"
			data-tooltip="Previous Delve Tour"
			data-tooltip-direction="LEFT"
		>
			<rc-icon
				name="icons/arrow-left"
				var:size="0.75rem"
				var:fill="currentColor"
			></rc-icon>
		</button>
	{{/if}}
</div>

