<nav>
	<button
		type="button"
		data-action="tab"
		data-group="root"
		data-tab="HeroSummaryCardV1"
	>
		Stats
	</button>
	<button
		type="button"
		data-action="tab"
		data-group="root"
		data-tab="HeroSkillsCardV1"
	>
		Skills
	</button>
	<button
		type="button"
		data-action="tab"
		data-group="root"
		data-tab="HeroCraftCardV1"
	>
		Craft
	</button>
</nav>
