.ripcrypt > .window-content input {
	all: revert;
	box-sizing: border-box;
	border: none;
	outline: none;
	font-family: inherit;
	font-size: inherit;
	position: relative;
	background: none;

	&[type="text"],
	&[type="number"] {
		border-bottom: 2px dashed purple;
	}
}
