@layer exceptions;

@import url("./vars.css");

@import url("./elements/button.css");
@import url("./elements/input.css");
@import url("./elements/lists.css");
@import url("./elements/p.css");
@import url("./elements/pill-bar.css");
@import url("./elements/prose-mirror.css") layer(exceptions);
@import url("./elements/select.css");
@import url("./elements/span.css");
@import url("./elements/string-tags.css");
@import url("./elements/table.css");

.ripcrypt {
	.window-content {
		flex: initial;
		padding: 0;
		margin: 0;
	}

	.HeroSummaryCardV1,
	.HeroSkillsCardV1 {
		/* height: 270px; */
		width: 680px;
		--col-gap: 2px;
	}

	label, input, select {
		cursor: pointer;
	}
}