:host {
	display: flex;
	flex-direction: column;
	--vertical-displacement: 10px;
}

.rc-border {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-grow: 1;

	padding: var(--padding, 4px);
	border-width: 2px;
	border-style: solid;
	border-color: var(--border-color);
	border-radius: 8px;
	position: relative;
	margin-top: var(--margin-top, var(--vertical-displacement));
	padding-top: var(--padding-top, var(--vertical-displacement));

	.title {
		position: absolute;
		top: calc(-1 * var(--vertical-displacement));
		left: 50%;
		height: minmax(var(--title-height, 20px), auto);
		transform: translateX(-50%);
		background: var(--title-background, var(--border-color));
		padding: 4px 6px;
		box-sizing: border-box;
		width: max-content;
		max-width: 75%;
		min-width: 50px;
		border-radius: 4px;
	}
}
