<li
	class="chat-message message ripcrypt {{cssClass}}"
	data-message-id="{{message._id}}"
	{{#if borderColor}}style="border-color: {{borderColor}}"{{/if}}
>
	<span class="author">{{ alias }}</span>
</li>