<div id="fate-compass">
	<div class="compass-container">
		<div class="compass">
			<span style="grid-area: N;">N</span>
			<span style="grid-area: W;">W</span>
			<rc-icon
				class="compass-pointer"
				name="icons/arrow-compass"
				var:fill="var(--accent-3)"
				var:size="1rem"
			></rc-icon>
			<span style="grid-area: E;">E</span>
			<span style="grid-area: S;">S</span>
		</div>
	</div>
</div>
