<div id="fate-compass">
	<div class="compass-container">
		<div class="compass">
			<button type="button" class="transparent" style="grid-area: N;">N</button>
			<button type="button" class="transparent" style="grid-area: W;">W</button>
			<rc-icon
				class="compass-pointer"
				name="icons/arrow-compass"
				var:fill="var(--accent-3)"
				var:size="1rem"
			></rc-icon>
			<button type="button" class="transparent" style="grid-area: E;">E</button>
			<button type="button" class="transparent" style="grid-area: S;">S</button>
		</div>
	</div>
</div>
