.ripcrypt > .window-content {
	input, .input {
		all: revert;
		box-sizing: border-box;
		border: none;
		outline: none;
		font-family: inherit;
		font-size: inherit;
		position: relative;
		background: var(--input-background);
		color: var(--input-text);
		padding: 0px 4px;

		&[type="text"],
		&[type="number"] {
			border-bottom: var(--input-underline);
		}

		&::placeholder {
			color: var(--input-placeholder-text);
		}
	}
}
