.ripcrypt.hud span,
.ripcrypt > .window-content span {
	&.small {
		font-size: var(--font-size-10)
	}

	&.ellipses {
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
	}

	/* Makes it so that spans are never less than the font size */
	&:empty::before {
		content: "\200b";
	}
}
