<div>
	<rc-border
		var:border-color="var(--accent-1)"
	>
		<div slot="title">
			Difficulty
		</div>
		<div slot="content">
			<span>{{ difficulty }}</span>
			{{#if meta.editable}}
				<div class="row">
					<select id="{{meta.idp}}-difficulty">
						{{ rc-options difficulty options localize=true }}
					</select>
					<button
						type="button"
						data-action="randomCondition"
					>
						<rc-icon
							name="icons/roll"
							var:size="20px"
							var:fill="var(--accent-3)"
						></rc-icon>
					</button>
				</div>
			{{/if}}
		</div>
	</rc-border>
</div>
