.ripcrypt.ripcrypt--CryptApp {
	max-width: initial;
	min-width: initial;

	> .window-header .window-title {
		text-align: center;
	}

	> .window-content {
		background: var(--base-background);
		padding: 4px;
	};

	.row {
		display: flex;
		flex-direction: row;
	}
}
