<rc-border
	var:border-color="var(--accent-2)"
>
	<div slot="title">Changes</div>
	<div slot="content" class="changes-list">
		<div class="header">
			<span>Attribute Key</span>
			<span>Change Mode</span>
			<span>Value</span>
			<span>Priority</span>
			<div><!-- Intentionally Empty --></div>
		</div>
		<ul>
		</ul>
	</div>
</rc-border>
