<rc-border>
	<div slot="title">{{title}}</div>
	<div slot="content">
		<div>
			<label for="">Rank</label>
			<input type="text">
		</div>
		<div>
			<label for="">Step</label>
			<input type="text">
		</div>
	</div>
</rc-border>
